@model List<Product>
@{
    ViewData["Title"] = "Demo Web trgovina";
    ViewData["Description"] = "program obrazovanja ASP.NET";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h1>@ViewData["Description"]</h1>
</div>


<form method="get" asp-area="" asp-controller="Home" asp-action="Index" class="row mb-5">
    <div class="col-3">
        <input type="text" class="from-control" name="searchQuery" />
    </div>

    <div class="col-3">
        <select class="form-select" name="orderBy">
            <option value="">
                Default
            </option>
            <option value="1">
                Title asc
            </option>
            <option value="2">
                Title desc
            </option>
            <option value="3">
                Price asc
            </option>
            <option value="4">
                Price desc
            </option>

        </select>
    </div>
    <div class="col-3">
        <input type="submit" class="btn btn-success" value="Search..." />
    </div>

</form>



    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    @{
                        string setImage = !String.IsNullOrEmpty(item.Image) ? "/images/products/" + item.Image : "/images/default-placeholder.png";
                    }
                    <img src="@Url.Content(setImage)" class="card-img-top" alt="...">
                    <h5 class="card-title">@item.Title</h5>

                    <p class="card-text">@item.Description</p>
                    <p class="card-text">@item.Price.ToString("C2")</p>

                </div>
            </div>
        }
    </div>
