@model List<DemoWebShop.Services.Cart.CartItem>
<h1>Cart</h1>
<hr/>
<div class="row">
    @if(!String.IsNullOrEmpty(ViewBag.CartErrorMassage)){
            <div class="col-12">
                <p class="alert-danger">
                    @ViewBag.CartErrorMassage
                </p>
            </div>
        }
<div class="col-12">
    @if (Model.Count == 0)
{
            <h3>Empty cart, by something</h3>
            <h3/>
            <a class="btn btn-sucess" asp-controller="Home" asp-action="Index">Continue shoping</a>

}
else
{
            @* TODO prikaz stavki*@
            <table class="table" >
                <thead>
                    <th>

                    </th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                        {
                            <tr>
                                <td>
                                </td>
                                <td>@item.Product.Title</td>
                                <td>@item.Product.Price.ToString("C2")</td>
                                <td>@item.Quatity</td>
                                <td>@item.GetTotal().ToString("C2")</td>
                            </tr>
                            }
                    <tr>
                        <td>
                            Grand Total:
                        </td>
                        <td>  @Model.Sum(s => s.GetTotal()).ToString("C2");</td>
                    </tr>
                </tbody>

            </table>
            <a class="btn btn-sucess" asp-controller="Order" asp-action="Checkout">Checkout</a>
}
</div>


</div>